.nav_menu {
  background-color: darksalmon;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 25px;
}

.nav_menu a {
  text-decoration: none;
  color: white;
}
.search {
  color: black;
}

